.navbar-brand {
    font-size: 1.5rem;
    line-height: 2.1;
}

.home-nav-login .nav-create-account {
    margin-left: 20px !important;
}

.register-alert {
    font-size: 14px;
}

@media (max-width: 1200px) {
    .home-nav-login {
      display: none;
    }
  }